<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
 	 	<button type="button" action="/updateProf">Update Profile</button></div>
		<button type="button" class="btn btn-success ">Change password</button></div>
		<button type="button" class="btn btn-success ">Sign Out</button></div>

</body>
</html>