<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="one_more.css">
</head>
<body action="/dashboard" method="GET">
	<nav class="navbar navbar-inverse" style="margin-bottom: 0px">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#" style="color: white;">ABHISHEK</a>
	    </div>
	    <div class="nav navbar-nav">
	      <ul>
	      	<li> <button type="button" class="btn btn-default navbar-btn" data-toggle="popover" title="Press this button if u want to know more about me!!" data-placement="bottom" > About me</button></li>
	      </ul>
	    </div>
	  </div>
	</nav>


	<div class="rows first " style="height: 400px;">
		<div class="col-md-12">
			<img id="cen" style="height: 130px; width: 120px" src="http://gatefundamental.com/exam/layout/custom-character.gif">
			<p id="name"> ABHISHEK SAI</p>
			<p id="hob"> Web developer . Android Developr . Designer</p>
		</div>
	</div>
	<div class="rows second" style="height: 400px;">
		<div class="col-md-12 pager">
			<div  class="well" style=" padding-top:10px; padding-bottom: 10px; text-align:center;"><b>PORTFOLIO</b></div>
		</div>
	</div>

	
	



		 	
</body>
</html>